// 🎯 Bootstrap Farbe überschreiben
$primary: #e91e1e; // deine Wunschfarbe

// Optional: weitere Farben anpassen
// $secondary: #6c757d;
// $danger: #dc3545;
// $success: #28a745;

// 🧱 Bootstrap importieren
@import "bootstrap/scss/bootstrap";

body {
  height: 100%;
}

body {
  background-image: url("assets/Bern-Luftansicht.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Optional: Bild bleibt beim Scrollen */
}
